:root {
  --bgColor: #0e1117;
  --bgGray: #161b22;
  --textColor: #c9d1c9;
  --textGray: #8b949e;
  --textBlue: #58a6ff;
  --bgBlue: #1f6feb;
  --borderColor: #30363d;
  --whiteTextColor: #f0f6fc;
}

html {
  background-color: var(--bgColor);
}

html,
body {
  font-size: 62.5%;
}

.App {
  min-height: 100vh;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

path { fill: var(--textGray); }

.popular > path { fill: #DB6D27; }

.white-text {
  color: var(--whiteTextColor);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 15rem 0
}
